{% extends 'base/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="base-h1 mb-5 border-bottom border-danger">Project</h1>

    <div class=" text-white mb-7">
        <div class="row text-center text-white">
            <div class="col-sm-4">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                      <h5 class="card-title text-white">Portfolio</h5>
                      <p class="card-text text-center text-white">Basic Personal Web portfolio, using Django, bootstracss, css,html.</p>
                      <a href="https://github.com/Zeba-26521/Django-portfolio" target="blank" class="btn btn-secondary btn-sm pro-bt">Source-code.</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-2 ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                      <h5 class="card-title text-white">CRUD</h5>
                      <p class="card-text text-center text-white">CRUD using django ModelForm and functon based view </p>
                      <a href="https://github.com/Zeba-26521/DjangoModelForm-CRUD" target="blank" class="btn btn-secondary btn-sm pro-bt">Source-code.</a>
                    </div>
                </div>
       
            </div>
        </div>
    
    
        <div class="row text-center text-white mt-5">
            <div class="col-sm-4">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                      <h5 class="card-title text-white">SWG Game</h5>
                      <p class="card-text text-center text-white">Snake, Water,Gun game match series using python.</p>
                      <a href="https://github.com/Zeba-26521/SWG-Game-Python" target="blank" class="btn btn-secondary btn-sm pro-bt">Source-code.</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-2 ">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                      <h5 class="card-title text-white">Health Management</h5>
                      <p class="card-text text-center text-white">Python File based,data save and retrieve witme time module.</p>
                      <a href="https://github.com/Zeba-26521/HelathDietManagment-Python" target="blank" class="btn btn-secondary btn-sm pro-bt">Source-code.</a>
                    </div>
                </div>
       
            </div>
        </div>
        <br><br> 
    
        <p class="pro-h3 mt-5 st-font">I have been adding more project/work on GitHub, kindly check there if you are interested to 
            epxlore my more works: <a href="https://github.com/Zeba-26521" target="blank"><i class="fab fa-github fa-2x i-color"></i></a>
        </p> 
        <p class="mx-auto mt-5 text-center st-font">
           Thank you!!
        </p>

    </div>



</div>
 

{% endblock content %}