{% extends 'base/base.html' %}
{% block content %}
<div class="container mt-5">

    <h1 class="base-h1 mb-5 border-bottom border-danger">Contact</h1>
    <div class="row text-white mb-7">
        <p class="mx-auto mb-5 st-font">
            Thank you for taking an interest in my profile. Hope we would get chance to work on interesting project together in near future.
        </p>
        <div class="col-sm-5  mt-4"> 
            <div class="mt-4">
                <p>
                    Kindly contact  me if you have an opportunity that benefit our mutual growth&success. Feel free to connect me if you would like to to have profesinal connection.
                </p>
                <p>If you have any other requests or questions, don't hesitate to contact me. I am delighted to assist.</p> 

            </div>         
            <div class="mt-5">
                <p>Please feel free to connect using the following alternative: </p>
               <p class="mt-4">
                   <a href="https://github.com/Zeba-26521" target="_blank"><i class="fab fa-github fa-2x i-color"></i></a>
                   <a href="https://www.linkedin.com/in/zeba1495/" target="_blank"> <i class="fab fa-linkedin fa-2x i-color"></i></a>
            </div>
            

        </div>


        <div class=" col-sm-2 offset-sm-4 text center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>

                    <p> Pune,India </p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>
                     +919028807845                        
                    </p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>

                    <p>
                        zeba9514@gmail.com
                    </p>
                </li>
            </ul>
        </div>
        
        <p class="mx-auto mt-5 text-center st-font">
            <br><br><br>  Thank you!!
        </p>
    </div>
  

</div>

{% endblock content %}