{% load static %}

<div class="border-end border-danger h-100">
            
    <div class="text-center"> 
         <img src="{% static 'base/images/me.jpg' %}" alt="Profle pic" class="image-fluid rounded-circle mt-5" width="100px" height="100px">
     </div> 
     <h3 class="text-white mt-3">Zeba Tasneem</h3>
     <hr class="border">
     <nav class="nav flex-column text-center">
         <a href="/" class="nav-link {{home}}">Home</a>
         <a href="/project" class="nav-link {{Project}}">Project</a>
         <a href="/contact/" class="nav-link {{contact}}">Contact</a>
     </nav>
     <hr class="border">
     <div class="container mt-2">

        <h3 class="text-white mb-2">Skills</h3>
        <div class="row text-white">
            <div class="col-sm-12">
                <h6 class="mt-2">Python</h6>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                     style ="width:77%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

            </div> 


            <div class="col-sm-12">
                <h6 class="mt-2">Djanggo</h6>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                     style ="width:77%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

            </div>  
            
            <div class="col-sm-12">
                <h6 class="mt-2">SQL</h6>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                     style ="width:77%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

            </div>  


            <div class="col-sm-12">
                <h6 class="mt-2">HTML/CSS</h6>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                     style ="width:77%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

            </div>  


            <div class="col-sm-12">
                <h6 class="mt-2">Bootstrap</h6>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar"
                     style ="width:77%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

            </div>  
                    
        </div>  
        <div class="row text-white mx-1 mt-4">
    
            <ul class="art-knowledge-list p-15-0 home-ul">
                <li><i class="fas fa-check"></i>GIT&GitHub</li>
                <li><i class="fas fa-check"></i>JavaScript</li>
                <li><i class="fas fa-check"></i>NumPY</li>
                <li><i class="fas fa-check"></i>Pandas</li>

            </ul>
        </div>
    
    </div>












    </div>