{% extends 'base/base.html' %}
{% block sidebar %}{% include 'base/homeside.html' %} {% endblock sidebar %}


{% block content %}
{% load static %}

<!-- blocl start -->

<div class=" mt-5">
    <div class="text-center text-white" >
    <img src="{% static 'base/images/me.jpg' %}" alt="profile-Pic" class="img thumbnail" width="250px" height="150px">
    </div>

    <div class=" mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4">
            <p class="text-indent:100px;">
                I am <strong class="text-info">Zeb Tasneem</strong>, a develoer and programmar(<strong class="text-info">Python</strong>). An inquisitive-natured, detail oriented person 
                who enjoys exploring new things and is constantly evolving.

            </p>
            <p class=" text-indent:100px mt-3">
                I have around 5 years of experience in IT, out of which 2.5+ years of experince in development (Python  programming language), have working experience on <strong class="text-info">'API development -AWS'</strong> project for the US-Fortune 500's company. I do have experience on writing SQL query for generating data from snowflakes.
                Have  hands-on experience on writing python codes for the 'ATS (Application Tracking System)' project. Have working  exposure on pandas and django  along with decent grasp  on HTML, css and Bootstrap.
            </p>


        </div>

    </div>

    <div class="text-center mt-5" >  
        <a href="/contact/"> <button class="btn btn-success st-font" >
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        <br>Reach me.. </button></a>
    </div>

</div>

<!-- blocl start -->


{% endblock content %}