{% load static %}

<div class="border-end border-danger h-100">
            
    <div class="text-center"> 
         <img src="{% static 'base/images/me.jpg' %}" alt="Profle pic" class="image-fluid rounded-circle mt-5" width="100px" height="100px">
     </div> 
     <h3 class="text-white mt-3">Zeba Tasneem</h3>
     <hr class="border">
     <nav class="nav flex-column text-center">
         <a href="/" class="nav-link {{home}}">Home</a>
         <a href="/project" class="nav-link {{Project}}">Project</a>
         <a href="/contact/" class="nav-link {{contact}}">Contact</a>
     </nav>
    </div>